---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PhotoButton from "@components/PhotoButton.astro";
import IntroBlock from "@components/IntroBlock.astro";

const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Location Portraits by nirusu";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={siteTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <IntroBlock title="Location Portraits" />
    <div class="masonry-grid">
        <PhotoButton
            imagePath="/src/assets/images/location/boy-1.jpg"
            altText="Boy"
        >
            Boy
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/wahid_IMG_6289.jpg"
            altText="Wahid"
            position="left"
        >
            Wahid
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/wahid_IMG_6279.jpg"
            altText="Wahid"
        >
            Wahid
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/lockdown_DSCF2197.jpg"
            altText="After Lockdown press conference"
        >
            After Lockdown press conference
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/care.jpg"
            altText="Care"
        >
            Care
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/care-2.jpg"
            altText="Care"
            position="top"
        >
            Care
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/jacq-1.jpg"
            altText="Jacq"
        >
            Jacq
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/jacq-caravan.jpg"
            altText="Miss Piggy"
            position="left"
        >
            Miss Piggy
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/jacq-jump.jpg"
            altText="Jump!"
        >
            Jump!
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/matt-1.jpg"
            altText="Matt"
        >
            Matt
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/shed-pa-1.jpg"
            altText="Shed"
        >
            Shed
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/ww1.jpg"
            altText="Warm Welcome Cafe BKK"
            position="top"
        >
            Warm Welcome Cafe BKK
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/ww2.jpg"
            altText="Warm Welcome Cafe BKK"
            position="top"
        >
            Warm Welcome Cafe BKK
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/location/ww3.jpg"
            altText="Warm Welcome Cafe BKK"
            position="top"
        >
            Warm Welcome Cafe BKK
        </PhotoButton>
    </div>
</BaseLayout>
<style></style>
