---
import BaseLayout from "../../layouts/BaseLayout.astro";
import {Image, Picture} from 'astro:assets';
import LightboxImage from "../../components/LightboxImage.astro";

const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Location Portraits by nirusu";
const pageTitleClass = "sr-only";
---
<BaseLayout
  siteTitle={siteTitle}
  siteTitleClass={siteTitleClass}
  pageTitle={pageTitle}
  pageTitleClass={pageTitleClass}
>
  <div class="intro-block">
    <h1 class="intro-block__title">Location Portraits</h1>
  </div>
  <div class="masonry-grid">
    <LightboxImage
      id="1"
      imagePath="/src/assets/images/location/care.jpg"
      altText="Care"
    />
    <LightboxImage
      id="6"
      imagePath="/src/assets/images/location/care-2.jpg"
      altText="Care"
    />
    <LightboxImage
      id="2"
      imagePath="/src/assets/images/location/boy-1.jpg"
      altText="Boy"
    />
    <LightboxImage
      id="3"
      imagePath="/src/assets/images/location/jacq-1.jpg"
      altText="Jacq"
    />
    <LightboxImage
      id="4"
      imagePath="/src/assets/images/location/jacq-caravan.jpg"
      altText="Miss Piggy"
    />
    <LightboxImage
      id="5"
      imagePath="/src/assets/images/location/jacq-jump.jpg"
      altText="Jump!"
    />
    <LightboxImage
      id="9"
      imagePath="/src/assets/images/location/kitchen.jpg"
      altText="Kitchen"
    />
    <LightboxImage
      id="7"
      imagePath="/src/assets/images/location/matt-1.jpg"
      altText="Matt"
    />
    <LightboxImage
      id="8"
      imagePath="/src/assets/images/location/nepal-1.jpg"
      altText="Nepal"
    />
    <LightboxImage
      id="10"
      imagePath="/src/assets/images/location/shed-pa-1.jpg"
      altText="Shed"
    />
    <LightboxImage
      id="11"
      imagePath="/src/assets/images/location/ww1.jpg"
      altText="Warm Welcome Cafe BKK"
    />
    <LightboxImage
      id="12"
      imagePath="/src/assets/images/location/ww2.jpg"
      altText="Warm Welcome Cafe BKK"
    />
    <LightboxImage
      id="13"
      imagePath="/src/assets/images/location/ww3.jpg"
      altText="Warm Welcome Cafe BKK"
    />
  </div>
</BaseLayout>
<style>
</style>