- var title = "Posts";
doctype html
html(lang='en')
  include includes/head.pug
  body
    .wrapper
      .sidebar
        include includes/navigation.pug
      main(class='nh-txt-baseline-offset')
        h1= title
        ol(class='nh-list-posts')
          li
            a(href='lockdown-9.html')
              img(src='bente-1.jpg' alt='portrait by nils hendriks, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session Nine
                p.nh-txt-date august 15, 2020
          li
            a(href='lockdown-8.html')
              img(src='barb-1.jpg' alt='portrait by nils hendriks, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session Eight
                p.nh-txt-date june 1, 2020
          li
            a(href='lockdown-7.html')
              img(src='ld7-1.jpg' alt='portrait by nils hendriks, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session Seven
                p.nh-txt-date may 23, 2020
          li
            a(href='lockdown-6.html')
              img(src='pajacq-2.jpg' alt='portrait of jacq and dad, by nils hendriks, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session Six
                p.nh-txt-date may 13, 2020

          li
            a(href='lockdown-5.html')
              img(src='thara-1.jpg' alt='portrait of thara, by nils hendriks, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session Five
                p.nh-txt-date may 9, 2020

          li
            a(href='lockdown-4.html')
              img(src='remko-1.jpg' alt='portrait of remko, by nils hendriks, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session Four
                p.nh-txt-date may 3, 2020

          li
            a(href='lockdown-3.html')
              img(src='krissy2-sq.jpg' alt='portrait of krissy, by nils hendriks, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session Three
                p.nh-txt-date april 8, 2020
          li
            a(href='lockdown-2.html')
              img(src='niki1-sq.jpg' alt='portrait of niki, by nils hendriks, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session Two
                p.nh-txt-date april 1, 2020
          li
            a(href='lockdown-1.html')
              img(src='nils1.jpg' alt='portrait of me, by me, 2020' loading='lazy' class='nh-img')
              article
                p.nh-txt-tag shoots
                p Lockdown Portraits Session One
                p.nh-txt-date march 25, 2020
        include includes/footer.pug