- var title = "Color of The Year Portraits";
//doctype html
//html(lang='en')
include includes/head.pug
body
  .wrapper
    .sidebar
      include includes/navigation.pug
    main(class='nh-txt-baseline-offset')
      h1= title
      .content
        p.nh-txt-intro Pantone each year announces their <em>Color of The Year</em> and it is a good way to be inspired and experiment.
        p Work-In-Progress
      .nh-l-grid-photos

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo3628on' name='photos' value='ph3628' class='btn-radio photo-on')
            input(type='radio' id='photo3628off' name='photos' value='ph3628off', class='btn-radio photo-off')
            label(for='photo3628on', class='lightbox__overlay')
              img(src='assets/images/studio/20220420_13-54-39_DSCF3628_6.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo3628off', class='btn-close')
          p(class='nh-txt-date') Classic Blue<br /> Pantone colour of the year 2020

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo1138on' name='photos' value='ph1138' class='btn-radio photo-on')
            input(type='radio' id='photo1138off' name='photos' value='ph1138off', class='btn-radio photo-off')
            label(for='photo1138on', class='lightbox__overlay')
              img(src='assets/images/studio/barbnoodles-1-sq-1000.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo1138off', class='btn-close')
          p(class='nh-txt-date') Living Coral<br /> Pantone colour of the year 2019

      include includes/footer.pug