- var title = "Contact me";
doctype html
html(lang='en')
  include includes/head.pug
  body
    .wrapper
      .sidebar
        include includes/navigation.pug
      main(class='nh-txt-baseline-offset')
        .content
          h1= title
          p Send me an email or fill out the form if you are interested in a shoot.
          p Nils Hendriks, <a href='mailto:info@nirusu.me'>info@nirusu.me</a>
          section
            h2  Be My Model
            p I love to shoot faces, so if you're up for a shoot, please let me know!

            //label(class='', for='your-name') Your name
            //  span(class='') *
            //input#your-name(type='text', class='', name='', placeholder='', maxlength='64' required='required')
            //hr
            //label(class='', for='your-email') Email Address
            //  span(class='') *
            //input#your-email(type='text', class='', name='', placeholder='', maxlength='64' required='required')
            //hr
            //textarea#message(type='textarea', class='', name='', placeholder='', maxlength='5000', rows='5')
            //hr
            //button(type='submit', class='')
            //  span(class='')
            //    | Send Message
            form(name='contact', method='POST', data-netlify='true')
              label Your Name:
                input(type='text', name='name')
              label Your Email:
                input(type='email', name='email')
              label(class='') What type of session are you looking for?
              //fieldset(class='group-radios')
              input#session-portrait(type='radio', class='', name='session', value='Portrait')
              label(for='session-portrait') Portrait
              br
              input#session-event(type='radio', class='', name='session', value='Event')
              label(for='session-event') Event
              br
              input#session-other(type='radio', class='', name='session', value='Other')
              label(for='session-other') Other

              label HOW DID YOU HEAR ABOUT ME?:
                select(name='how[]')
                  option(value='friend') from a friend
                  option(value='insta') instagram
                  option(value='street') ran into you on the street
              label Message:
                textarea(name='message', maxlength='5000', rows='5')
              button(type='submit') Send



        include includes/footer.pug