- var title = "Lockdown Portraits Session One";
doctype html
html(lang='en')
  include includes/head.pug
  body(class='nh-txt-baseline-offset')
    .wrapper
      header
        include includes/navigation.pug
      main
        // h1= title
        h1.
          A post title<br>
          with a Second &<br>
          a Third line

        h1 Another title
        h2 A h2

        h1 Another title<br /> with 2 lines


      // include includes/footer.pug