- var title = "work in progress";
doctype html
html(lang='en')
  include includes/head.pug
  body
    .wrapper
      .sidebar
        include includes/navigation.pug
      main(class='nh-txt-baseline-offset')
        h1= title
        //p this is the home page
        include includes/footer.pug