- var title = "Studio Portraits";
//doctype html
//html(lang='en')
include includes/head.pug
body
  .wrapper
    .sidebar
      include includes/navigation.pug
    main(class='nh-txt-baseline-offset')
      //- h1= title
      .nh-l-grid-photos.grid-dense
        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo1on' name='photos' value='ph1' class='btn-radio photo-on')
            input(type='radio' id='photo1off' name='photos' value='ph1off', class='btn-radio photo-off')
            label(for='photo1on', class='lightbox__overlay')
              img(src='assets/images/studio/yousuck-1.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1440', height='1440')
              span Close
            label(for='photo1off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo2on' name='photos' value='photo2' class='btn-radio photo-on')
            input(type='radio' id='photo2off' name='photos' value='photo2off', class='btn-radio photo-off')
            label(for='photo2on', class='lightbox__overlay')
              img(src='assets/images/studio/cover-elvis_002.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1040', height='1040')
              span Close
            label(for='photo2off', class='btn-close')


        //.nh-l-grid__item
        //  div(class='lightbox')
        //    input(type='radio' id='photo3on' name='photos' value='ph3' class='btn-radio photo-on')
        //    input(type='radio' id='photo3off' name='photos' value='ph3off', class='btn-radio photo-off')
        //    label(for='photo3on', class='lightbox__overlay')
        //      img(src='assets/images/lc-jacq-2-sq.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1860', height='1860')
        //      span Close
        //    label(for='photo3off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo4on' name='photos' value='ph4' class='btn-radio photo-on')
            input(type='radio' id='photo4off' name='photos' value='ph4off', class='btn-radio photo-off')
            label(for='photo4on', class='lightbox__overlay')
              img(src='bente1.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo4off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo5on' name='photos' value='ph5' class='btn-radio photo-on')
            input(type='radio' id='photo5off' name='photos' value='ph5off', class='btn-radio photo-off')
            label(for='photo5on', class='lightbox__overlay')
              img(src='bente2.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo5off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo6on' name='photos' value='ph6' class='btn-radio photo-on')
            input(type='radio' id='photo6off' name='photos' value='ph6off', class='btn-radio photo-off')
            label(for='photo6on', class='lightbox__overlay')
              img(src='assets/images/thefool-sq.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1440', height='1440')
              span Close
            label(for='photo6off', class='btn-close')

        //- .nh-l-grid__item.portrait
          div(class='lightbox')
            input(type='radio' id='photo65on' name='photos' value='ph65' class='btn-radio photo-on')
            input(type='radio' id='photo65off' name='photos' value='ph65off', class='btn-radio photo-off')
            label(for='photo65on', class='lightbox__overlay')
              img(src='assets/images/studio/thefool-pt-1500.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1500', height='2250')
              span Close
            label(for='photo65off', class='btn-close')

        //.nh-l-grid__item
        //  div(class='lightbox')
        //    input(type='radio' id='photo7on' name='photos' value='ph7' class='btn-radio photo-on')
        //    input(type='radio' id='photo7off' name='photos' value='ph7off', class='btn-radio photo-off')
        //    label(for='photo7on', class='lightbox__overlay')
        //      img(src='krissy-dance-1.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
        //      span Close
        //    label(for='photo7off', class='btn-close')

        //.nh-l-grid__item
        //  div(class='lightbox')
        //    input(type='radio' id='photo8on' name='photos' value='ph8' class='btn-radio photo-on')
        //    input(type='radio' id='photo8off' name='photos' value='ph8off', class='btn-radio photo-off')
        //    label(for='photo8on', class='lightbox__overlay')
        //      img(src='krissy-dance-2.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
        //      span Close
        //    label(for='photo8off', class='btn-close')

        //.nh-l-grid__item
        //  div(class='lightbox')
        //    input(type='radio' id='photo9on' name='photos' value='ph9' class='btn-radio photo-on')
        //    input(type='radio' id='photo9off' name='photos' value='ph9off', class='btn-radio photo-off')
        //    label(for='photo9on', class='lightbox__overlay')
        //      img(src='krissy-zodiac-1.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
        //      span Close
        //    label(for='photo9off', class='btn-close')

        //- .nh-l-grid__item.portrait
          div(class='lightbox')
            input(type='radio' id='photo9on' name='photos' value='ph9' class='btn-radio photo-on')
            input(type='radio' id='photo9off' name='photos' value='ph9off', class='btn-radio photo-off')
            label(for='photo9on', class='lightbox__overlay')
              img(src='assets/images/studio/st-kris-1-pt.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo9off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo10on' name='photos' value='ph10' class='btn-radio photo-on')
            input(type='radio' id='photo10off' name='photos' value='ph10off', class='btn-radio photo-off')
            label(for='photo10on', class='lightbox__overlay')
              img(src='niki-fuji-1.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo10off', class='btn-close')

        //-.nh-l-grid__item.portrait
          div(class='lightbox')
            input(type='radio' id='photo11on' name='photos' value='ph11' class='btn-radio photo-on')
            input(type='radio' id='photo11off' name='photos' value='ph11off', class='btn-radio photo-off')
            label(for='photo11on', class='lightbox__overlay')
              img(src='assets/images/studio/st-niki-1-pt.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1504')
              span Close
            label(for='photo11off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo11on' name='photos' value='ph11' class='btn-radio photo-on')
            input(type='radio' id='photo11off' name='photos' value='ph11off', class='btn-radio photo-off')
            label(for='photo11on', class='lightbox__overlay')
              img(src='assets/images/studio/st-niki-1-sq.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo11off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo12on' name='photos' value='photo12' class='btn-radio photo-on')
            input(type='radio' id='photo12off' name='photos' value='photo12off', class='btn-radio photo-off')
            label(for='photo12on', class='lightbox__overlay')
              img(src='assets/images/studio/st-marc-1-sq.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo12off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo13on' name='photos' value='photo13' class='btn-radio photo-on')
            input(type='radio' id='photo13off' name='photos' value='photo13off', class='btn-radio photo-off')
            label(for='photo13on', class='lightbox__overlay')
              img(src='assets/images/studio/st-died-1-sq.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo13off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo14on' name='photos' value='photo14' class='btn-radio photo-on')
            input(type='radio' id='photo14off' name='photos' value='photo14off', class='btn-radio photo-off')
            label(for='photo14on', class='lightbox__overlay')
              img(src='assets/images/studio/st-remko-1-sq.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo14off', class='btn-close')

        .nh-l-grid__item
          div(class='lightbox')
            input(type='radio' id='photo15on' name='photos' value='photo15' class='btn-radio photo-on')
            input(type='radio' id='photo15off' name='photos' value='photo15off', class='btn-radio photo-off')
            label(for='photo15on', class='lightbox__overlay')
              img(src='assets/images/studio/noodles_001.jpg' alt='portrait' loading='eager' class='nh-l-grid-photo', width='1000', height='1000')
              span Close
            label(for='photo15off', class='btn-close')

      include includes/footer.pug