@charset "utf-8";

:root {
  --lineheight-px: 38;
  --font-size-body-px: 22;
  --lineheight-unitless: calc(38 / 22);
}

* {
  margin: 0;
  padding: 0;
}

:lang(en) q, :lang(en) blockquote { quotes: "‘" "’" '“' '”'; }
:lang(fr) q, :lang(fr) blockquote { quotes: "«" "»" '‹' '›'; }
:lang(de) q, :lang(de) blockquote { quotes: "„" "“" '‚' '‘'; }
:lang(jp) q, :lang(jp) blockquote { quotes: "「" "」" '『' '』'; }

:lang(en-us) q, :lang(en-us) blockquote,
:lang(en-US) q, :lang(en-US) blockquote,
:lang(en_US) q, :lang(en_US) blockquote,
:lang(nl) q, :lang(nl) blockquote,
:lang(th) q, :lang(th) blockquote { quotes: '“' '”' "‘" "’"; }
:lang(hu) q, :lang(hu) blockquote { quotes: "„" "“" '»' '«'; }

html {
  background-color: #fff;
  background-image: url(https://basehold.it/i/38/255/0/0/.06);
  background-size: 1px 38px;
  color: #555;
  margin: 0;
  padding: 0;
  font-family: Jost, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: calc(38 / 22);
}

body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

.wrapper {
  /*height: 100vh;*/
  /*width: 100vw;*/
  /*display: grid;*/
  /*grid-template-columns: 200px 1fr;*/
  /*grid-template-columns: 1fr;*/
  /*grid-template-rows: 76px 1fr;*/
}

q::before, blockquote p::before {
  content: open-quote;
}

q::after, blockquote p::after {
  content: close-quote;
}

em {
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 38px;
}

li * {
  margin: 0;
}

svg {
  width: 40px;
  height: 40px;
}

.svg-icon-small {
  width: 14px;
  height: 14px;
}

a {
  color: hsl(5, 65%, 40%);
  text-decoration: none;
  /*text-decoration-thickness: 1px;*/
  /*text-underline-offset: .4em;*/
}

a:focus,
a:hover {
  /*color: deepskyblue;*/
  color: #d75045;
}

main a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .4em;
}

.nh-txt-baseline-offset {
  padding-top: 12px;
}

/*header nav {*/
/*  display: none;*/
/*}*/

main {
  max-width: 760px;
  margin: 0 auto;
  padding-bottom: calc(2 * 38px);

  /*display: grid;*/
  /*grid-template-columns: 1fr 4fr;*/
  /*overflow: hidden;*/
}

.sidebar {
  /*background-color: hsla(0, 0%, 80%, .25);*/
  /*position: fixed;*/
  padding: 12px 38px 38px 38px;
}

@media only screen and (min-width: 1036px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
  }
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.sidebar nav a {
  text-decoration: none;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.2em;
  transition: color .3s ease;
}

.sidebar nav a:hover {
  /*color: deepskyblue;*/
  color: #d75045;
}

.nh-atom-logo {
  height: 38px;
}

@media only screen and (max-width: 1035px) {
  main {
    padding-left: 19px;
    padding-right: 19px;
  }
}


main > .content {
  /*overflow-y: scroll;*/
}

main .content .content-container {
  /*max-width: 760px;*/
  /*margin: 0 auto;*/
  /*padding-bottom: calc(2 * 38px);*/
  /*background-image: url(https://basehold.it/i/38/255/0/0/.25);*/
  /*background-size: 1px 38px;*/
}

/* vertical rhythm */
/*main * + * {*/
/*  margin-top: 38px;*/
/*}*/

/*section {*/
/*  margin-top: 0;*/
/*}*/

h1 {
  font-family: "Times New Roman", Georgia, serif;
  font-weight: 400;
  font-size: 76px;
  line-height: 76px;
  margin-top: 38px;
  /*font-size: 48px;*/
  /*line-height: 57px;*/
  /*margin-top: 20px;*/
  /*margin-bottom: -1px;*/
}

h1 + * {
  /*margin-top: -1px;*/
}

main > h1:first-child {
  /*margin-top: 20px;*/
}

h2 {
  font-family: "Times New Roman", Georgia, serif;
  font-weight: 400;
  font-size: 57px;
  line-height: 76px;
  margin-top: 45px;
  margin-bottom: -7px;
  /*line-height: 57px;*/
  /*margin-top: 38px;*/
  /*margin-bottom: 38px;*/
}

.nh-txt-intro {
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  /*margin-top: 40px;*/
  /*margin-bottom: -2px;*/
}

/* GS/Question */
.nh-txt-question {
  /*font-family: Jost, sans-serif;*/
  font-weight: 300;
  /*font-size: 16px;*/
  font-size: 19px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  /*margin-top: 40px;*/
  /*margin-bottom: -2px;*/
}

.nh-txt-date {
  font-size: 16px;
  line-height: 38px;
  font-weight: 300;
  letter-spacing: .04em;
}

main > .nh-txt-date {
  margin-top: 76px;
}

.nh-txt-tag {
  font-size: 14px;
  line-height: 38px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .2em;
}

h1 + .nh-txt-tag {
  margin-top: 0;
}

main img {
  margin-top: 38px;
}

main img.nh-img {
  /*max-height: 1140px;*/
  height: 494px;
}

footer {

}

footer a {
  text-decoration: none;
}

.org-footer {

}

.org-footer p {
  /*font-size: 0.72727273rem;*/
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.nh-list-posts {
  list-style: none;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

.nh-list-posts * {
  margin: 0;
}

.nh-list-posts li {

}

.nh-list-posts a {
  display: flex;
  align-items: center;
  gap: 19px;
  text-decoration: none;
  color: #444;
}

.nh-list-posts a img {
  height: 342px;
}