---
import BaseLayout from "../../layouts/BaseLayout.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
// import { Picture } from '@astrojs/image/components';
---

<BaseLayout siteTitle={siteTitle} siteTitleClass={pageTitleClass} pageTitle={pageTitle} pageTitleClass={pageTitleClass}>
  <div class="content">
    <p class="nh-txt-date">April 1, 2020</p>
    <h1>Lockdown Portraits Session Two</h1>
    <p class="nh-txt-tag">shoots</p>
    <h2>Mind Game • Niki</h2>
  </div>
  <img class="nh-post-hero" src="/images/niki1.jpg" alt="portrait of niki, by nils hendriks, 2020" loading="eager">
  <div class="content">
    <blockquote>
      <p>If we spend more quality time inwards with ourselves without crisis, we have more peace and balance as well in
        any crisis.</p>
    </blockquote>
    <p class="nh-txt-intro">
      During the Corona Lockdown 2020 I came up with this personal mini project: Lockdown Portraits, showing real people
      – not models – and how they deal with all the ordeals that isolation brings with it. Accompanying the photos are 2
      questions I asked each one of them and their answers. Second in this series was Niki: entrepreneur and coach.

    </p>
    <p class="nh-txt-question">can you describe to what extent <br />the lockdown has affected your life and how?<br />
      both on a personal and professional level?</p>
    <p class="nh-txt-quote">
      <q>In terms of my professional life there has been some changes. All of my business and bodywork trainings and
        coaching sessions have been cancelled. I switched to online coaching and focusing on helping people to face
        challenges during crisis.<br /><br />On a personal level the biggest change is the lack of face to face contact
        with my friends, colleagues and clients. As I am a pretty active person and travel a lot, it has been a
        challenge first how to rearrange my life.</q>
    </p>
    <p class="nh-txt-question">if anything, what do you think <br />will you take away from all this.<br />any lessons
      learned?</p>
    <p class="nh-txt-quote">
      <q>There are many lessons learnt....as people spend more time alone or with their direct family they need(ed) to
        face certain issues, fears, values they tried to avoid through a busy life. If we spend more quality time
        inwards with ourselves without crisis, we have more peace and balance as well in any crisis.<br /><br />It’s a
        mind game 🧠</q>
    </p>
  </div>
  <div class="nh-l-gallery"><img class="xnh-img" src="/images/niki1.jpg" alt="portrait of niki, by nils hendriks, 2020"
      loading="lazy" width="1440" height="1440"><img class="xnh-img" src="/images/niki2.jpg"
      alt="portrait of niki, by nils hendriks, 2020" loading="lazy" width="1440" height="1440"><img class="xnh-img"
      src="/images/niki3.jpg" alt="portrait of niki, by nils hendriks, 2020" loading="lazy" width="1440" height="1440"></div>
</BaseLayout>