---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { Image, Picture } from "astro:assets";
import LightboxImage from "../../../components/LightboxImage.astro";

const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Color Of The Year Portraits by nirusu";
const pageTitleClass = "sr-only";
---

<BaseLayout
  siteTitle={siteTitle}
  siteTitleClass={siteTitleClass}
  pageTitle={pageTitle}
  pageTitleClass={pageTitleClass}
>
  <div class="intro-block">
    <h1 class="intro-block__title">Color of The Year Portraits</h1>
    <!--<h2 class="centered">Pantone each year announces their Color of The Year and it is a good way to be inspired and experiment.</h2>-->
    <p class="intro-block__first-paragraph">
      Pantone each year announces their Color of The Year and it is a good way
      to be inspired and experiment.
    </p>
  </div>
  <div class="masonry-grid">
    <div class="lb-container">
      <LightboxImage
        id={2}
        imagePath="/src/assets/images/projects/color/pcoty-2020.jpg"
        altText="2020"
      />
      <div class="lb-caption">
        Classic Blue - Pantone colour of the year 2020
      </div>
    </div>
    <div class="lb-container">
      <LightboxImage
        id={1}
        imagePath="/src/assets/images/projects/color/barb1.jpg"
        altText="2019"
      />
      <div class="lb-caption">
        Living Coral - Pantone colour of the year 2019
      </div>
    </div>
  </div>
</BaseLayout>
