---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PhotoButton from "@components/PhotoButton.astro";
import IntroBlock from "@components/IntroBlock.astro";

const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Color Of The Year Portraits by nirusu";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={siteTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <IntroBlock title="Colour of The Year Portraits">
        <p>
            Pantone each year announces their Color of The Year and it is a good
            way to be inspired and experiment.
        </p>
    </IntroBlock>
    <div class="masonry-grid">
        <div class="lb-container">
            <PhotoButton
                imagePath="/src/assets/images/projects/color/pcoty-2020.jpg"
                altText="Photo of the 2020 Project Color of the Year"
            >
                2020
            </PhotoButton>
            <div class="lb-caption">
                Classic Blue - Pantone colour of the year 2020
            </div>
        </div>
        <div class="lb-container">
            <PhotoButton
                imagePath="/src/assets/images/projects/color/barb1.jpg"
                altText="Photo from the 2019 Project Color of the Year"
            >
                2019
            </PhotoButton>
            <div class="lb-caption">
                Living Coral - Pantone colour of the year 2019
            </div>
        </div>
    </div>
</BaseLayout>
