@view-transition {
  navigation: auto;
}

:root {
  /* font */
  --font-family-sans-light: jostlight, sans-serif;

  /* colors */
  --color-neutral-100: hsl(0 0% 100%);
  --color-neutral-90: hsl(0 0% 90%);
  --color-neutral-80: hsl(0 0% 80%);
  --color-neutral-70: hsl(0 0% 70%);
  --color-neutral-60: hsl(0 0% 60%);
  --color-neutral-50: hsl(0 0% 50%);
  --color-neutral-40: hsl(0 0% 40%);
  --color-neutral-30: hsl(0 0% 30%);
  --color-neutral-20: hsl(0 0% 20%);
  --color-neutral-10: hsl(0 0% 10%);
  --color-neutral-0: hsl(0 0% 0%);

  --color-primary: #089cec;
  --color-secondary: hsl(30 100% 50%);

  --color-background-body: var(--color-neutral-100);
  --color-background-overlay: var(--color-neutral-100);

  --color-text-body: var(--color-neutral-0);
  --color-text-base: var(--color-neutral-0);
  --color-text-base-invert: var(--color-neutral-100);
  --color-text-base-static: var(--color-neutral-0);
  --color-text-primary: var(--color-primary);
  --color-text-button: var(--color-neutral-100);

  --color-text-action: var(--color-text-primary);
  --color-text-action-hover: var(--color-secondary);

  --color-border-base: var(--color-neutral-0);
  --color-border-muted: var(--color-neutral-80);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-body: var(--color-neutral-0);
    --color-background-overlay: var(--color-neutral-0);
    --color-text-body: var(--color-neutral-100);
    --color-text-base: var(--color-neutral-100);
    --color-text-base-invert: var(--color-neutral-0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Jost Variable", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-background-body);
  color: var(--color-text-body);
}

html {
  color-scheme: light dark;
  font-size: 100%;
  font-variant: common-ligatures discretionary-ligatures;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  word-spacing: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.125rem;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    font-size: 1.5rem;
  }
}


/* LVHA-order */
a:link {
  color: var(--color-text-action);
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 1px;
}

a:visited {
  color: var(--color-text-primary);
}

a:hover {
  color: var(--color-text-action-hover);
}

a:active {
  color: var(--color-text-primary);
}

p {
  max-width: 30em;
  text-align: left;
}

p.justified {
  text-align: justify;
  hyphens: auto;
}

/* noinspection CssInvalidPropertyValue */
blockquote {
  font-family: Georgia, serif;
  max-width: 30em;
  text-wrap: pretty;
  align-self: center;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

blockquote p {
  display: inline;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-style: italic;
  height: auto;
  max-width: 100%;
  shape-margin: 1rem;
}

svg {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.centered {
  text-align: center;
  align-self: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 160px 1fr auto;
}

.masonry-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 321px) {
  .masonry-grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .masonry-grid {
    padding: 0 24px;
  }
}

@media only screen and (min-width: 1728px) {
  .masonry-grid {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

@supports (grid-template-rows: masonry) {
  .masonry-grid {
    grid-template-rows: masonry;
  }
}

@media only screen and (min-width: 768px) {
  @supports not (grid-template-rows: masonry) {
    .masonry-grid {
      grid-template-rows: auto;
    }
  }
}

/* forms */
label,
input,
textarea,
select {
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 38px;
  width: 100%;
  max-width: 760px;
  padding: 0 8px;
  outline: 0;
  color: var(--color-text-base);
}

label {
  color: var(--color-text-body);
}

input[type="radio"] {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  position: relative;
  top: 4px;
}

input[type="radio"]:checked {
  border: 6px solid var(--color-primary);
}

input[type="radio"]+label {
  display: inline;
}

input,
select,
textarea {
  border: 1px solid var(--color-border-muted);
  padding: 6px 8px;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--color-primary);
}

form {
  margin-top: 76px;
}

label {
  margin-top: 38px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 38px;
}

button {
  background-color: var(--color-primary);
  color: var(--color-text-button);
  padding: 19px 38px;
  border-radius: 50vh;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 38px;
  transition: all .3s ease;
}

.button:hover,
button:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}

.grid-5050 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 24px;
}

.grid__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.grid__item-content {
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .grid-5050 {
    grid-template-columns: 1fr 1fr;
    padding: 0 32px;
  }
}

@media only screen and (max-width: 767px) {
  .grid-5050 .grid__item blockquote {
    padding: 0 1rem;
  }
}

.intro-block {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  margin: 32px;
  text-align: left;
  align-content: center;
  flex-wrap: wrap;
}

.intro-block__title {
  align-self: center;
  text-align: center;
  text-wrap: pretty;
}

.intro-block__first-paragraph {
  font-weight: 400;
}

.lb-container {
  display: grid;
}

.lb-container .lightbox-image {
  grid-row: 1;
  grid-column: 1;
}

.lb-caption {
  background: var(--color-background-body);
  grid-row: 1;
  grid-column: 1;
  padding: 1rem;
  font-size: 14px;
  pointer-events: none;
  height: auto;
  align-self: flex-end;
}

.lb-caption a {
  pointer-events: all;
}
