---
import BaseLayout from "../layouts/BaseLayout.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={pageTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="content">
        <h1>About me</h1>
    </div><img
        class="nh-post-hero"
        src="/images/nils-about-sq2.jpg"
        alt="portrait of me, nils hendriks, 2020"
        loading="lazy"
        width="1500"
        height="1500"
    />
    <div class="content">
        <p>
            Hello! I'm nirusu aka Nils. I have been taking photos as long as I
            can remember. And remembering brings back the smell of chemicals
            developing film at the attic. Now digital, I focus on photographing
            people. On the streets of wherever and in a pop-up studio.
        </p>
        <p>
            <a href="https://www.instagram.com/nirususan"
            >Follow me on Instagram</a
        >
        </p>
    </div>
</BaseLayout>
