---
import BaseLayout from "../layouts/BaseLayout.astro";
import PhotoButton from "@components/PhotoButton.astro";

const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={siteTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="masonry-grid">
        <PhotoButton
            imagePath="/src/assets/images/studio/brothers.jpg"
            altText="Brothers"
            position="top"
        >
            The Hendriks Brothers, Amsterdam 2024
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/studio/bente2.jpg"
            altText="Bente"
            position="top"
        >
            Lockdown 9, Bente, Amsterdam 2020
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/travel/cambodia/L1010015_v3_K64+.jpg"
            altText="Mother and child"
            position="top"
            >Mother & child, Cambodia 2009
        </PhotoButton>
        <PhotoButton
            imagePath="/src/assets/images/studio/studio-zodiac-kris-2.jpg"
            altText="Zodiac"
            position="top">Zodiac 4: Pisces, Amsterdam 2020</PhotoButton
        >
        <PhotoButton
            imagePath="/src/assets/images/studio/noodles-1.jpg"
            altText="Noodles 💔"
            position="top">Noodles 💔, Amsterdam 2019</PhotoButton
        >
        <PhotoButton
            imagePath="/src/assets/images/location/boy-1.jpg"
            altText="Boy on the streets."
            >Youth of Today, Amsterdam 2022</PhotoButton
        >
        <PhotoButton
            imagePath="/src/assets/images/studio/marc.jpg"
            altText="Marc"
            position="top">Marc, Amsterdam 2019</PhotoButton
        >
        <PhotoButton
            imagePath="/src/assets/images/contact/nils-balloon_1960.jpg"
            altText="Me">Me, Color of The Year, Amsterdam 2021</PhotoButton
        >
        <PhotoButton
            imagePath="/src/assets/images/location/jacq-caravan.jpg"
            altText="Jacq"
            position="left">Killing Miss Piggy, Etten-Leur 2021</PhotoButton
        >
        <PhotoButton
            imagePath="/src/assets/images/lockdown/niki1.jpg"
            altText="Niki"
            position="top">Lockdown 2: Niki, Amsterdam 2020</PhotoButton
        >
        <PhotoButton
            imagePath="/src/assets/images/studio/me-3.jpg"
            altText="Me"
        />
        <PhotoButton
            imagePath="/src/assets/images/studio/thefool-sq.jpg"
            altText="The Fool"
        />
        <PhotoButton
            imagePath="/src/assets/images/studio/me-1.jpg"
            altText="Me"
            position="top"
        />
        <PhotoButton
            imagePath="/src/assets/images/location/jacq-jump.jpg"
            altText="Jump!"
        />
        <PhotoButton
            imagePath="/src/assets/images/location/shed-pa-1.jpg"
            altText="Shed"
        />
    </div>
</BaseLayout>
