---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image, Picture } from "astro:assets";
import LightboxImage from "../components/LightboxImage.astro";

const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
---

<BaseLayout
  siteTitle={siteTitle}
  siteTitleClass={siteTitleClass}
  pageTitle={pageTitle}
  pageTitleClass={pageTitleClass}
>
  <div class="masonry-grid">
    <LightboxImage
      id={10}
      imagePath="/src/assets/images/studio/noodles-1.jpg"
      altText="Noodles 💔"
      position="top"
    />
    <LightboxImage
      id={1}
      imagePath="/src/assets/images/location/boy-1.jpg"
      altText="Boy on the streets."
    />
    <LightboxImage
      id={5}
      imagePath="/src/assets/images/studio/marc.jpg"
      altText="Marc"
      position="top"
    />
    <!--<LightboxImage
    id="2"
    imagePath="/src/assets/images/location/nepal-1.jpg"
    altText="Nepal"
    position="right"
    />-->
    <LightboxImage
      id={3}
      imagePath="/src/assets/images/contact/nils-balloon_1960.jpg"
      altText="Me"
    />
    <LightboxImage
      id={4}
      imagePath="/src/assets/images/location/jacq-caravan.jpg"
      altText="Jacq"
      position="left"
    />
    <!-- <LightboxImage
    id={6}
    imagePath="/src/assets/images/studio/niki-fuji-1.jpg"
    altText="Niki"
    /> -->
    <LightboxImage
      id={13}
      imagePath="/src/assets/images/lockdown/niki1.jpg"
      altText="Niki"
      position="top"
    />
    <LightboxImage
      id={12}
      imagePath="/src/assets/images/studio/me-3.jpg"
      altText="Me"
    />
    <LightboxImage
      id={7}
      imagePath="/src/assets/images/studio/thefool-sq.jpg"
      altText="The Fool"
    />
    <LightboxImage
      id={11}
      imagePath="/src/assets/images/studio/me-1.jpg"
      altText="Me"
      position="top"
    />
    <LightboxImage
      id={8}
      imagePath="/src/assets/images/location/jacq-jump.jpg"
      altText="Jump!"
    />
    <LightboxImage
      id={9}
      imagePath="/src/assets/images/location/shed-pa-1.jpg"
      altText="Shed"
    />
  </div>
</BaseLayout>
