---
import BaseLayout from "../layouts/BaseLayout.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "nirusu photography";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={pageTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="nh-l-grid-photos">
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo3601on"
                    name="photos"
                    value="ph3601"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo3601off"
                    name="photos"
                    value="ph3601off"
                />
                <label class="lightbox__overlay" for="photo3601on">                    
                    <picture>
                        <source type="image/avif" srcset="/images/DSCF3601.avif" />
                        <source type="image/webp" srcset="/images/DSCF3601.webp" />
                        <img
                            src="/images/DSCF3601.jpg"
                            alt="Ooy posing like a top model"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span>
                </label>
                <label class="btn-close" for="photo3601off">off</label>
            </div>
        </div>
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo3649on"
                    name="photos"
                    value="ph3649"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo3649off"
                    name="photos"
                    value="ph3649off"
                />
                <label class="lightbox__overlay" for="photo3649on">                    
                    <picture>
                        <source type="image/avif" srcset="/images/studio/ooy-1_1960.avif" />
                        <source type="image/webp" srcset="/images/studio/ooy-1_1960.webp" />
                        <img
                            src="/images/studio/ooy-1_1960.jpg"
                            alt="Ooy posing like a top model"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span>
                </label>
                <label class="btn-close" for="photo3649off">off</label>
            </div>
        </div>
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo3628on"
                    name="photos"
                    value="ph3628"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo3628off"
                    name="photos"
                    value="ph3628off"
                />
                <label class="lightbox__overlay" for="photo3628on">                    
                    <picture>
                        <source type="image/avif" srcset="/images/studio/nils-balloon_1960.avif" />
                        <source type="image/webp" srcset="/images/studio/nils-balloon_1960.webp" />
                        <img
                            src="/images/studio/nils-balloon_1960.jpg"
                            alt="Nils Blue balloon"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span>
                </label>
                <label class="btn-close" for="photo3628off">off</label>
            </div>
        </div>
        <!-- <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo1on"
                    name="photos"
                    value="ph1"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo1off"
                    name="photos"
                    value="ph1off"
                />
                <label class="lightbox__overlay" for="photo1on"
                    ><img
                        class="nh-l-grid-photo"
                        src="/images/studio/barbnoodles-1-sq-1000.jpg"
                        alt="portrait"
                        loading="eager"
                        width="1000"
                        height="1000"
                    /><span>Close</span></label
                >
                <label class="btn-close" for="photo1off"></label>
            </div>
        </div> -->
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo2on"
                    name="photos"
                    value="ph2"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo2off"
                    name="photos"
                    value="ph2off"
                />
                <label class="lightbox__overlay" for="photo2on">                    
                    <picture>
                        <source type="image/avif" srcset="/images/DSCF3174_1960.avif" />
                        <source type="image/webp" srcset="/images/DSCF3174_1960.webp" />
                        <img
                            src="/images/DSCF3174_1960.jpg"
                            alt="jacq jumping in a shed"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span>
                </label>
                <label class="btn-close" for="photo2off">off</label>
            </div>
        </div>
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo3on"
                    name="photos"
                    value="ph3"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo3off"
                    name="photos"
                    value="ph3off"
                />
                <label class="lightbox__overlay" for="photo3on">
                    <!-- <img
                        class="nh-l-grid-photo"
                        src="/images/shed-pa-1.jpg"
                        alt="portrait"
                        loading="eager"
                        width="1440"
                        height="1440"
                    /> -->
                    <picture>
                        <source type="image/avif" srcset="/images/shed-pa-1.avif" />
                        <source type="image/webp" srcset="/images/shed-pa-1.webp" />
                        <img
                            src="/images/shed-pa-1.jpg"
                            alt="dad in a shed"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span>
                </label>
                <label class="btn-close" for="photo3off">off</label>
            </div>
        </div>
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo4on"
                    name="photos"
                    value="ph4"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo4off"
                    name="photos"
                    value="ph4off"
                />
                <label class="lightbox__overlay" for="photo4on">
                    <!-- <img
                        class="nh-l-grid-photo"
                        src="/images/bente1.jpg"
                        alt="portrait"
                        loading="eager"
                        width="1000"
                        height="1000"
                    /> -->
                    <picture>
                        <source type="image/avif" srcset="/images/studio/bente1.avif" />
                        <source type="image/webp" srcset="/images/studio/bente1.webp" />
                        <img
                            src="/images/studio/bente1.jpg"
                            alt="Bente"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span>
                    </label>
                <label class="btn-close" for="photo4off">off</label>
            </div>
        </div>
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo5on"
                    name="photos"
                    value="ph5"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo5off"
                    name="photos"
                    value="ph5off"
                />
                <label class="lightbox__overlay" for="photo5on"
                    >
                    <!-- <img
                        class="nh-l-grid-photo"
                        src="/images/bente2.jpg"
                        alt="portrait"
                        loading="eager"
                        width="1000"
                        height="1000"
                    /> -->
                    <picture>
                        <source type="image/avif" srcset="/images/studio/bente2.avif" />
                        <source type="image/webp" srcset="/images/studio/bente2.webp" />
                        <img
                            src="/images/studio/bente2.jpg"
                            alt="Bente"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span></label
                >
                <label class="btn-close" for="photo5off">off</label>
            </div>
        </div>
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo6on"
                    name="photos"
                    value="ph6"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo6off"
                    name="photos"
                    value="ph6off"
                />
                <label class="lightbox__overlay" for="photo6on"
                    >
                    <!-- <img
                        class="nh-l-grid-photo"
                        src="/images/thefool-sq.jpg"
                        alt="portrait"
                        loading="eager"
                        width="1440"
                        height="1440"
                    /> -->
                    <picture>
                        <source type="image/avif" srcset="/images/studio/thefool-sq.avif" />
                        <source type="image/webp" srcset="/images/studio/thefool-sq.webp" />
                        <img
                            src="/images/studio/thefool-sq.jpg"
                            alt="The Fool"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span></label
                >
                <label class="btn-close" for="photo6off">off</label>
            </div>
        </div>
        <!-- <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo7on"
                    name="photos"
                    value="ph7"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo7off"
                    name="photos"
                    value="ph7off"
                />
                <label class="lightbox__overlay" for="photo7on"
                    ><img
                        class="nh-l-grid-photo"
                        src="/images/krissy-dance-1.jpg"
                        alt="portrait"
                        loading="eager"
                        width="1000"
                        height="1000"
                    /><span>Close</span></label
                >
                <label class="btn-close" for="photo7off"></label>
            </div>
        </div> -->
        <div class="nh-l-grid__item">
            <div class="lightbox">
                <input
                    class="btn-radio photo-on"
                    type="radio"
                    id="photo10on"
                    name="photos"
                    value="ph10"
                />
                <input
                    class="btn-radio photo-off"
                    type="radio"
                    id="photo10off"
                    name="photos"
                    value="ph10off"
                />
                <label class="lightbox__overlay" for="photo10on"
                    >
                    <!-- <img
                        class="nh-l-grid-photo"
                        src="/images/niki-fuji-1.jpg"
                        alt="portrait"
                        loading="eager"
                        width="1000"
                        height="1000"
                    /> -->
                    <picture>
                        <source type="image/avif" srcset="/images/studio/niki-fuji-1.avif" />
                        <source type="image/webp" srcset="/images/studio/niki-fuji-1.webp" />
                        <img
                            src="/images/studio/niki-fuji-1.jpg"
                            alt="Niki"
                            class="nh-l-grid-photo"
                            loading="eager"
                            width="1960"
                            height="1960"
                        />
                    </picture>
                    <span>Close</span></label
                >
                <label class="btn-close" for="photo10off">off</label>
            </div>
        </div>
    </div>
</BaseLayout>
