---
import BaseLayout from "../layouts/BaseLayout.astro";
const siteTitle = "nirusu.me";
const siteTitleClass = "sr-only";
const pageTitle = "Contact";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    siteTitleClass={pageTitleClass}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
<div class="content">
    <h1>Thank You</h1>
    <p>Your form has been submitted.</p>
    <p>I will respond as soon as possible</p>
  </div>
</BaseLayout>
