---
import TheLogo from "./TheLogo.astro";
---
<div class="sidebar">
    <a
        class="nh-atom-logo"
        href="/"
        title="Click to go back to the homepage"
    >
    <TheLogo />
    </a>
    <a class="menubutton" href="#menuopen">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
        menu
    </a>
    <aside class="menu" id="menuopen">
        <a class="menubutton-close" href="#">
            <svg
                class="feather feather-arrow-left-circle"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 8 8 12 12 16"></polyline>
                <line x1="16" y1="12" x2="8" y2="12"></line>
            </svg>
            close menu
        </a>
        <nav>
            <a href="/">Home</a>
            <!-- <details>
                <summary>Portraits</summary>
                <nav>
                    <a href="studio-portraits">studio portraits</a><a
                        href="location-portraits">location portraits</a
                    >
                </nav>
            </details> -->
            <!-- <details>
                <summary>Projects</summary>
                <nav>
                    <a href="lockdown-portraits">lockdown portraits</a><a
                        href="color-of-the-year-portraits"
                        >Color of The Year portraits</a
                    >
                </nav>
            </details> -->
            <!-- <a href="blog">blog</a> -->
            <a href="/about">about</a
            ><a href="/contact">contact</a>
        </nav>
        <div class="lightswitch">
            <button
                @click="toggleTheme"
                type="button"
                title="switch to opposite theme"
                ><svg
                    v-show="theme == 'light'"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-moon"
                    ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
                    ></path></svg
                >
                <svg
                    v-show="theme == 'dark'"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-sun"
                    ><circle cx="12" cy="12" r="5"></circle><line
                        x1="12"
                        y1="1"
                        x2="12"
                        y2="3"></line><line x1="12" y1="21" x2="12" y2="23"
                    ></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"
                    ></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"
                    ></line><line x1="1" y1="12" x2="3" y2="12"></line><line
                        x1="21"
                        y1="12"
                        x2="23"
                        y2="12"></line><line
                        x1="4.22"
                        y1="19.78"
                        x2="5.64"
                        y2="18.36"></line><line
                        x1="18.36"
                        y1="5.64"
                        x2="19.78"
                        y2="4.22"></line></svg
                >
                toggle theme
            </button>
        </div>
    </aside>
</div>
<script type="module" defer>
    import { createApp } from "https://unpkg.com/petite-vue?module";

    createApp({
        // exposed to all expressions
        theme: "",
        // getters
        // get plusOne() {
        //   return this.count + 1
        // },
        // methods
        increment() {
            this.count++;
        },
        toggleTheme() {
            if (this.theme === "light") {
                this.theme = "dark";
                document.documentElement.classList.add("theme-dark");
                localStorage.setItem("theme", "dark");
            } else {
                this.theme = "light";
                document.documentElement.classList.remove("theme-dark");
                // remove leftover class attribute
                document.documentElement.removeAttribute("class");
                localStorage.setItem("theme", "light");
            }
        },
        setTheme() {
            if (localStorage.theme) {
                this.theme = localStorage.theme;
            } else {
                this.theme = "light";
            }
            console.log("setting theme to: " + this.theme);
            if (this.theme === "light") {
                document.documentElement.classList.remove("theme-dark");
                document.documentElement.removeAttribute("class");
            } else {
                document.documentElement.classList.add("theme-dark");
            }
        },
        watch: {
            theme(newTheme) {
                localStorage.theme = newTheme;
            },
        },
    }).mount();
</script>