---
import IgLogo from "./igLogo.astro";

---

<footer class="org-footer">
    <p>
        Copyright © 2022 nirusu.me • nils hendriks •<a
            href="https://www.instagram.com/nirususan"
        >
        <IgLogo />
            Follow me on instagram</a>
    </p>
</footer>
