---
import { Icon } from "astro-icon/components";
import HamburgerButton from "@components/HamburgerButton.astro";
---

<header class="masthead">
    <a
        class="masthead__link masthead__logo"
        href="/"
        title="Click to go back to the homepage"
    >
        nirusu
    </a>
    <HamburgerButton />

    <style>
        .masthead {
            background-color: var(--color-background-body);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 48px);
            margin-inline: auto;
        }

        .masthead__logo {
            font-size: 48px;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--color-primary);
            letter-spacing: 0.1em;
            transition: all 0.3s ease;
            text-decoration: none;
        }

        @supports (color: hsl(from var(--color-primary) h s l / 0.5)) {
            .masthead__logo {
                color: hsl(from var(--color-primary) h s l / 1);
            }
        }

        .masthead__logo:hover {
            text-decoration: none;
            color: var(--color-primary);
            letter-spacing: 0.2em;
        }

        @supports (color: hsl(from var(--color-primary) h s l / 0.5)) {
            .masthead__logo:hover {
                color: hsl(from var(--color-primary) h s l / 1);
            }
        }
    </style>
</header>
