---
import { Icon } from "astro-icon/components";
---

<header class="masthead">
    <a
        class="masthead__link masthead__logo"
        href="/"
        title="Click to go back to the homepage"
    >
        nirusu
    </a>
    <a
        id="btn-menu"
        class="menu-button"
        href="#menuopen"
        aria-label="Menu button"
        title="Open menu"
    >
        <Icon name="hamburger" aria-hidden="true" width={44} height={44} />
    </a>
    <aside class="menu" id="menuopen">
        <a
            class="menubutton-close"
            href="#"
            aria-label="Close menu"
            title="Close menu"
        >
            <Icon name="close" aria-hidden="true" width={44} height={44} />
            close menu
        </a>
        <nav class="masthead__nav">
            <a href="/">Home</a>
            <a href="/studio/studio-portraits">studio</a>
            <a href="/location">location</a>
            <details>
                <summary>Projects</summary>
                <nav>
                    <a href="/projects/lockdown/lockdown-portraits"
                        >lockdown portraits</a
                    >
                    <a href="/projects/color">Color of The Year portraits</a>
                </nav>
            </details>
            <details>
                <summary>Travel</summary>
                <nav>
                    <a href="/travel/japan">japan</a>
                    <a href="/travel/cambodia">cambodia</a>
                    <!-- <a href="/travel/singapore">singapore</a> -->
                </nav>
            </details>
            <a href="/about">about</a><a href="/contact">contact</a>
        </nav>
        <!--<div class="lightswitch">
        <button
            @click="toggleTheme"
            type="button"
            title="switch to opposite theme"
            ><svg
                v-show="theme == 'light'"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-moon"
                ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
                ></path></svg
            >
            <svg
                v-show="theme == 'dark'"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-sun"
                ><circle cx="12" cy="12" r="5"></circle><line
                    x1="12"
                    y1="1"
                    x2="12"
                    y2="3"></line><line x1="12" y1="21" x2="12" y2="23"
                ></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"
                ></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"
                ></line><line x1="1" y1="12" x2="3" y2="12"></line><line
                    x1="21"
                    y1="12"
                    x2="23"
                    y2="12"></line><line
                    x1="4.22"
                    y1="19.78"
                    x2="5.64"
                    y2="18.36"></line><line
                    x1="18.36"
                    y1="5.64"
                    x2="19.78"
                    y2="4.22"></line></svg
            >
            toggle theme
        </button>
    </div>-->
    </aside>

    <style>
        .masthead {
            background-color: var(--color-background-body);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 48px);
            margin-inline: auto;
        }

        .masthead__logo {
            font-size: 48px;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--color-primary);
            letter-spacing: 0.1em;
            transition: all 0.3s ease;
            text-decoration: none;
        }

        @supports (color: hsl(from var(--color-primary) h s l / 0.5)) {
            .masthead__logo {
                color: hsl(from var(--color-primary) h s l / 0.5);
            }
        }

        .masthead__logo:hover {
            text-decoration: none;
            color: var(--color-primary);
            letter-spacing: 0.2em;
        }

        @supports (color: hsl(from var(--color-primary) h s l / 0.5)) {
            .masthead__logo:hover {
                color: hsl(from var(--color-primary) h s l / 1);
            }
        }

        .masthead__nav {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            padding: 4rem 2rem;
        }

        .masthead__nav a,
        .masthead__nav summary {
            text-decoration: none;
            font-weight: 700;
            text-transform: capitalize;
            font-size: 24px;
            line-height: 64px;
            letter-spacing: -0.02em;
            transition: color 0.3s ease;
            color: var(--color-text-action);
        }

        .masthead__nav a:hover,
        .masthead__nav details > summary:hover {
            color: var(--color-text-action-hover);
            /*text-indent: 1rem;*/
        }

        .masthead__nav details {
            /* padding for the content to show */
            /* padding: 1rem; */
            /* non-standard! sets bgc on top to transparent, otherwise a flash */
            -webkit-tap-highlight-color: transparent;
        }

        .masthead__nav summary:focus {
            outline: 0;
        }

        .masthead__nav details > summary {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 8px;
            cursor: pointer;
        }

        .masthead__nav summary::-webkit-details-marker {
            display: none;
        }

        .masthead__nav summary::after {
            content: "+";
            width: 20px;
        }

        .masthead__nav details[open] summary {
            color: var(--color-secondary);
        }

        .masthead__nav details[open] summary:after {
            content: "–";
            width: 20px;
        }

        .masthead__nav nav {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
        }

        .masthead__nav details nav a {
            font-size: 18px;
            text-transform: capitalize;
            line-height: 48px;
            color: var(--color-secondary);
        }

        .masthead__nav details nav a:hover {
            color: var(--color-text-action);
        }

        #btn-menu {
            display: flex;
            padding: 0;
            appearance: none;
            border: 0;
            background: none;
        }

        @media only screen and (min-width: 768px) {
            #btn-menu {
                /* position: absolute; */
                /* right: 1rem; */
                /* top: 1rem; */
            }
        }

        .menubutton[href="#menuopen"] {
            font-size: 0;
        }

        .menu {
            font-family:
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
            visibility: hidden;
            position: fixed;
            right: -100vw;
            top: 0;
            z-index: 999;
            background-color: var(--color-background-body);
            border-radius: 0 8px 8px 0;
            height: 100%;
            width: 100vw;
            padding: 1rem;
            transition: all 0.3s ease-in;
            display: flex;
            flex-direction: column;
        }

        @media only screen and (min-width: 768px) {
            .menu {
                width: 25vw;
            }

            :target .masthead__nav {
                padding: 0 !important;
            }
        }

        :target {
            visibility: visible;
            right: 0;
        }

        .menubutton-close {
            align-self: flex-end;
        }

        .menubutton-close,
        .menubutton-close svg {
            width: 40px;
            height: 40px;
            font-size: 0;
        }
    </style>
</header>
