@charset "utf-8";

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
/* @TODO: check this */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --lineheight-px: 38;
  --font-size-root-px: 16;
  --font-size-body-px: 22;
  --lineheight-unitless: calc(var(--lineheight-px) / var(--font-size-body-px));
  --font-weight-body-text: 400;
  --font-family-sans: Jost, sans-serif;
  --font-family-serif: "Times New Roman", georgia, serif;
  --font-family-headings: var(--font-family-serif);
  --font-family-body-text: var(--font-family-sans);

/* colors */
  --color-primary: #A82F24;
  --color-bg: #fff;
  /*--color-bg-theme-light: #fff;*/
  --color-fg: #555;
  --color-link-default: var(--color-primary);
  --color-link-hover: #d75045;
  --color-nav-links: #444;
}

.theme-dark {
  --color-bg-theme-dark: #000;
  --color-fg-theme-dark: #fff;
  --color-bg: var(--color-bg-theme-dark);
  --color-fg: var(--color-fg-theme-dark);
  /*--color-primary: #A82F24;*/
  --color-link-default: var(--color-primary);
  /*--color-link-hover: #d75045;*/
  --color-nav-links: #fff;

  /* orangered */
  --color-primary: hsl(16deg 100% 50% / 100%);
  /* darkorange */
  --color-link-hover: hsl(33deg 100% 50% / 100%);
  /*--color-nav-links: var(--color-primary, red);*/

  -webkit-font-smoothing: antialiased;
  --font-weight-body-text: 300;
}

.theme-jost {
  --font-family-headings: var(--font-family-sans);
  --font-family-body-text: var(--font-family-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #222;
    --color-fg: #fff;
    /* orangered */
    --color-primary: hsl(16deg 100% 50% / 100%);
    /* darkorange */
    --color-link-hover: hsl(33deg 100% 50% / 100%);
    /*--color-nav-links: var(--color-primary, red);*/

    -webkit-font-smoothing: antialiased;
    --font-weight-body-text: 300;
  }
}

[v-cloak] { display:none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:lang(en) q, :lang(en) blockquote { quotes: "‘" "’" '“' '”'; }
:lang(fr) q, :lang(fr) blockquote { quotes: "«" "»" '‹' '›'; }
:lang(de) q, :lang(de) blockquote { quotes: "„" "“" '‚' '‘'; }
:lang(jp) q, :lang(jp) blockquote { quotes: "「" "」" '『' '』'; }

:lang(en-us) q, :lang(en-us) blockquote,
:lang(en-US) q, :lang(en-US) blockquote,
:lang(en_US) q, :lang(en_US) blockquote,
:lang(nl) q, :lang(nl) blockquote,
:lang(th) q, :lang(th) blockquote { quotes: '“' '”' "‘" "’"; }
:lang(hu) q, :lang(hu) blockquote { quotes: "„" "“" '»' '«'; }

html {
  background-color: var(--color-bg, #fff);
  background-image: url(https://basehold.it/i/38/255/0/0/.06);
  background-size: 1px 38px;
  color: var(--color-fg, #000);
  margin: 0;
  padding: 0;
  /*font-family: Jost, sans-serif;*/
  font-family: var(--font-family-body-text);
  font-weight: var(--font-weight-body-text, 400);
  font-size: 1rem;
  line-height: calc(var(--lineheight-px) / var(--font-size-root-px));
  transition: background-color 1s ease;
}

body {
  /*background-color: var(--color-bg, #fff);*/
  /*color: var(--color-fg, #000);*/
  margin: 0;
  padding: 0;
  font-size: calc(22 / 16 * 1rem);
  line-height: calc(38 / 22);
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
  }
}

q::before, blockquote p::before {
  content: open-quote;
}

q::after, blockquote p::after {
  content: close-quote;
}

em {
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 38px;
}

main .content p {
  /*max-width: 66ch;*/
  max-width: 760px;
}

li * {
  margin: 0;
}

svg {
  width: 40px;
  height: 40px;
}

.svg-icon-small {
  width: 14px;
  height: 14px;
}

a {
  color: var(--color-link-default, blue);
  text-decoration: none;
  /*text-decoration-thickness: 1px;*/
  /*text-underline-offset: .4em;*/
}

a:focus,
a:hover {
  /*color: deepskyblue;*/
  color: var(--color-link-hover);
}

/* forms */
label,
input,
textarea,
select {
  display: block;
  font-family: var(--font-family-body-text);
  font-size: 20px;
  font-weight: 300;
  line-height: 38px;
  width: 100%;
  max-width: 760px;
  padding: 0 8px;
  outline: 0;
  /*color: var(--color-fg);*/
  color: #555;
}

label {
  color: var(--color-fg);
}

input[type="radio"] {
  /*box-sizing: content-box;*/
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  /*margin-right: 5px;*/

  position: relative;
  top: 4px;
}

input[type="radio"]:checked {
  border: 6px solid #d75045;
}

input[type='radio'] + label {
  display: inline;
}

input,
select,
textarea {
  border: 1px solid #e9e9e9;
  padding: 6px 8px;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #000;
}

form {
  margin-top: 76px;
}

label {
  margin-top: 38px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 14px;
  line-height: 38px;
}

button {
  background-color: hsl(5, 65%, 40%);
  color: white;
  padding: 19px 38px;
  border-radius: 50vh;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 38px;
}

button:focus,
button:hover {
  background-color: #d75045;
}

main a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .4em;
}

.nh-txt-baseline-offset {
  padding-top: 12px;
}

/*header nav {*/
/*  display: none;*/
/*}*/

main {
  /*width: 75%;*/
  /*margin-left: 25%;*/
  /*padding-bottom: calc(2 * 38px);*/
  padding-bottom: calc(1 * 38px);
  padding-right: 38px;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  main {
    padding-bottom: 3rem;
  }
}

main > .content {
  /*max-width: 760px;*/
  /*margin: 0 auto;*/
}

.sidebar {
  /*background-color: hsla(0, 0%, 80%, .25);*/
  /*position: fixed;*/
  /*padding: 12px 38px 38px 38px;*/
  padding: 12px 19px 38px;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
  }
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.sidebar nav nav {
  margin-top: 0;
}

.sidebar nav a,
.sidebar nav summary {
  text-decoration: none;
  font-weight: 300;
  color: var(--color-nav-links, #000);
  text-transform: uppercase;
  /* 12px */
  font-size: calc(calc(12 / var(--font-size-root-px)) * 1rem);
  /*line-height: 38px;*/
  line-height: calc(var(--lineheight-px) / 12);
  letter-spacing: 0.2em;
  transition: color .3s ease;
}

.sidebar nav a:hover,
.sidebar nav details > summary:hover {
  color: var(--color-link-hover);
  /*text-indent: 1rem;*/
}

/*.sidebar nav details > summary:hover::after {*/
/*  text-indent: 0;*/
/*}*/

.sidebar nav details {
  /* padding for the content to show */
  /* padding: 1rem; */
  /* non-standard! sets bgc on top to transparent, otherwise a flash */
  -webkit-tap-highlight-color: transparent;
}

.sidebar nav summary:focus {
  outline: 0;
}

.sidebar nav details > summary {
  list-style: none;
  display: flex;
  /*justify-content: space-between;*/
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  /*border-bottom: 1px solid #bbb;*/
  cursor: pointer;
}

.sidebar nav summary::-webkit-details-marker {
  display: none;
}

.sidebar nav summary::after {
  content: "+";
}
.sidebar nav details[open] summary:after {
  content: "–";
}

.sidebar nav details nav a {
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

.nh-atom-logo {
  /*color: currentColor;*/
  color: var(--color-fg);
}

.nh-atom-logo img,
.nh-atom-logo svg {
  width: 100%;
}

@media only screen and (max-width: 1035px) {
  main {
    padding-left: 19px;
    padding-right: 19px;
  }
}


main > .content {
  /*overflow-y: scroll;*/
}

main .content .content-container {
  /*max-width: 760px;*/
  /*margin: 0 auto;*/
  /*padding-bottom: calc(2 * 38px);*/
  /*background-image: url(https://basehold.it/i/38/255/0/0/.25);*/
  /*background-size: 1px 38px;*/
}

/* vertical rhythm */
/*main * + * {*/
/*  margin-top: 38px;*/
/*}*/

/*section {*/
/*  margin-top: 0;*/
/*}*/

h1 {
  /*font-family: "Times New Roman", Georgia, serif;*/
  font-family: var(--font-family-headings);
  font-weight: 400;
  font-size: 38px;
  line-height: 38px;
  margin-top: 38px;
}

h1 + * {
  /*margin-top: -1px;*/
}

main > h1:first-child {
  /*margin-top: 20px;*/
}

h2 {
  /*font-family: "Times New Roman", Georgia, serif;*/
  font-family: var(--font-family-headings);
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  margin-top: 45px;
  margin-bottom: -7px;
  /*line-height: 57px;*/
  /*margin-top: 38px;*/
  /*margin-bottom: 38px;*/
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 76px;
    line-height: 76px;
  }

  h2 {
    font-size: 57px;
    line-height: 76px;
  }
}

.nh-txt-intro {
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  /*margin-top: 40px;*/
  /*margin-bottom: -2px;*/
}

/* GS/Question */
.nh-txt-question {
  font-weight: 300;
  font-size: 16px;
  line-height: 38px;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

@media only screen and (min-width: 768px) {
  .nh-txt-question {
    font-size: 19px;
    text-align: center;
  }
}

.nh-txt-date {
  font-size: 16px;
  line-height: 38px;
  font-weight: 300;
  letter-spacing: .04em;
}

.nh-txt-amp {
  font-family: Baskerville, serif;
  font-style: italic;
}

main .content > .nh-txt-date {
  margin-top: 76px;
}

.nh-txt-tag {
  font-size: 14px;
  line-height: 38px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .2em;
}

h1 + .nh-txt-tag {
  margin-top: 0;
}

main img {
  margin-top: 38px;
}

main img.nh-img {
  /*max-height: 1140px;*/
  /*height: 494px;*/
}

main img.nh-post-hero {
  max-height: calc(24 * 38px);
  width: auto;
}

footer {

}


footer a {
  text-decoration: none;
}

.org-footer {

}

.org-footer p {
  display: flex;
  flex-direction: column;
  /*font-size: 0.72727273rem;*/
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

@media only screen and (min-width: 768px) {
  .org-footer p {
    flex-direction: row;
  }
}

.org-footer p + p {
  margin-top: 0;
}
.org-footer a {
  display: inline-flex;
  align-items: center;
}
.org-footer a .svg-icon-small {
  margin-right: 8px;
}

.nh-list-posts {
  list-style: none;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

.nh-list-posts * {
  margin: 0;
}

.nh-list-posts li {

}

.nh-list-posts a {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 19px;
  text-decoration: none;
  color: var(--color-fg);
}

.nh-list-posts a:hover * {
  color: var(--color-link-hover);
}

@media only screen and (min-width: 768px) {
  .nh-list-posts a {
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .nh-list-posts a img {
    height: 342px;
    width: auto;
  }
}


.nh-l-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
  margin-top: 38px;
  max-width: calc(20 * 38px);
  /*max-height: calc(10 * 38px);*/
}

.nh-l-gallery * {
  margin: 0;
}

.nh-l-grid-photos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
  margin-top: 38px;
}

@media only screen and (min-width: 1036px) {
  .nh-l-grid-photos {
    grid-template-columns: repeat(3, 1fr);
  }

  .nh-l-grid-photos.grid-dense {
    grid-template-columns: repeat(auto-fill, minmax(22vw, 1fr));
    grid-auto-flow: row dense;
  }

  .nh-l-grid-photos.grid-dense .portrait {
    grid-row-end: span 2;
    grid-column-end: span 2;
  }

  /*.nh-l-grid-photos .lightbox {*/
  /*  transition: transform .3s ease;*/
  /*}*/

  /*.nh-l-grid-photos .lightbox:hover {*/
  /*  transform: rotate(3deg) scale(0.9);*/
  /*}*/

}

.nh-l-grid-photos * {
  margin: 0;
}

.nh-l-grid-photos .nh-l-grid-photo {
  border-radius: 19px;
}

.lightbox .nh-l-grid-photo {
  cursor: pointer;
}

.lightbox .btn-radio {
  display: none;
}

.lightbox input[type='radio'] + label {
  display: block;
  padding: 0;
}

.lightbox .btn-close {
  display: none;
}

.lightbox .photo-on:checked {}

.lightbox .photo-on:checked ~ .lightbox__overlay {
  /* background-color: rgba(0, 0, 0, .85); */
  background-color: rgba(255, 255, 255, .98);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  margin: 0;
  max-width: none;
}


.lightbox .photo-on:checked ~ label picture img {
  z-index: 9999;
  position: fixed;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  top: 50%;
  max-width: 1000px;
  width: 86%;
}

@media screen and (min-width: 1036px) {
  .lightbox .photo-on:checked ~ label picture img {
    width: auto;
    height: 90%;
  }
}



.zodiac .lightbox .photo-on:checked ~ label picture img {
  width: 36vmax;
}

.lightbox label picture + span {
  display: none;
}

.lightbox .photo-on:checked ~ label picture + span {
  display: block;
  /* color: white; */
  position: absolute;
  right: 40px;
  top: 40px;
}

.lightbox .photo-on:checked ~ .btn-close {
  display: block;
  z-index: 9999;
  position: fixed;
  color: #000;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-width: none;
}




/* .nh-l-grid-photos .nh-l-grid__item .photo-on,
.nh-l-grid-photos .nh-l-grid__item .photo-off {
  display: none;
} */

/* .nh-l-grid-photos .nh-l-grid__item .photo-on + label {
  font-size: 0;
} */

/*.nh-l-grid-photos input[type="radio"] + label img {*/
/*  border: 10px solid red;*/
/*}*/

/*.nh-l-grid-photos input[type="radio"]:checked + label img {*/
/*  border: 10px solid green;*/
/*}*/

/* .nh-l-grid-photos .overlay {
  display: none;
} */

/* .nh-l-grid-photos .photo-on:checked ~ .overlay {
  display: block;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
} */

/* .nh-l-grid-photos .photo-on:checked ~ .overlay img {
  margin: 0 auto;
} */

/* .nh-l-grid-photos .nh-l-grid__item .photo-off + label {
  display: flex;
  height: 100vh;
  padding: 1rem;
} */

/*.nh-l-grid-photos .overlay input[type="radio"]:checked {*/

/*}*/
@media only screen and (max-width: 767px) {
  .sidebar nav {
    margin: 0;
  }

  .sidebar nav a,
  .sidebar nav summary {
    font-size: calc(calc(22 / var(--font-size-root-px)) * 1rem);
  }

  .menubutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /*background-color: #fff;*/
    border-radius: 100%;
    /*border: 2px solid hsl(5, 65%, 40%);*/
    /*color: hsl(5, 65%, 40%);*/
    color: var(--color-fg);
    top: 60px;
    flex: 0 0 auto;
  }

  .menubutton svg {
    width: 30px;
    height: 30px;
  }

  .menubutton[href="#menuopen"] {
    /*position: fixed;*/
  }

  .menu {
    visibility: hidden;
    position: absolute;
    left: calc(-90vw - 2rem);
    top: 0;
    z-index: 999;
    background-color: var(--color-bg);
    border-radius: 0 8px 8px 0;
    height: 100%;
    width: 100vw;
    padding: 1rem;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  :target {
    /* opacity: 1; */
    visibility: visible;
    left: 0;
  }

  .menubutton-close {
    align-self: flex-end;
  }

  .menubutton-close,
  .menubutton-close svg {
    width: 40px;
    height: 40px;
    color: var(--color-fg);
  }
}

@media only screen and (min-width: 768px) {
  .menubutton,
  .menubutton-close {
    display: none;
  }
}

.lightswitch {}

.lightswitch button {
  color: currentcolor;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}