a(href='index.html', title='Click to go back to the homepage')
  img(src='nirusu-logo.svg' alt='logo image for nirusu' loading='eager' class='nh-atom-logo' width='272', height='42')
nav
  a(href='index.html') Home
  //a(href='portraits.html') portraits
  a(href='blog.html') blog
  a(href='about.html') about