a(href='index.html', title='Click to go back to the homepage', class='nh-atom-logo')
  img(src='nirusu-logo.svg' alt='logo image for nirusu' loading='eager' class='nh-atom-logo-img' width='272', height='42')
nav
  a(href='index.html') Home
  //a(href='portraits.html') portraits
  //a(href='portraits.html') portraits
  details
    summary Projects
    nav
      a(href='lockdown-portraits.html') lockdown portraits
      a(href='zodiac-portraits.html') zodiac portraits
  a(href='blog.html') blog
  a(href='about.html') about
  a(href='contact.html') contact