img(src='nirusu-logo.svg' alt='logo image for nirusu' loading='lazy' class='nh-atom-logo')
nav
  a(href='index.html') Home
  //a(href='portraits.html') portraits
  a(href='lockdown-1.html') blog
  a(href='about.html') about