---
// Supports weights 100-900
import "@fontsource-variable/jost";
import "../styles/main.css";
import TheHeader from "../components/TheHeader.astro";
import TheFooter from "../components/TheFooter.astro";
import { ClientRouter, fade, slide } from "astro:transitions";
// import SideBar from "../components/SideBar.astro";

// const { siteTitle } = Astro.props;
// const { siteTitleClass } = Astro.props;
const { pageTitle } = Astro.props;
// const { pageTitleClass } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, viewport-fit=cover"
        />
        <meta
            name="description"
            content="nirusu is a Amsterdam based portrait and event photographer"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <ClientRouter />
    </head>
    <body>
        <div class="wrapper">
            <TheHeader />
            <main class="main-content">
                <slot />
            </main>
            <TheFooter />
        </div>
    </body>
</html>
