---
import BaseLayout from "../../layouts/BaseLayout.astro";
import LightboxImage from "../../components/LightboxImage.astro";

const siteTitle = "nirusu.me";
// const siteTitleClass = "sr-only";
const pageTitle = "Studio Portraits by nirusu";
const pageTitleClass = "sr-only";
---

<BaseLayout
    siteTitle={siteTitle}
    pageTitle={pageTitle}
    pageTitleClass={pageTitleClass}
>
    <div class="intro-block">
        <h1 class="intro-block__title">Studio Portraits</h1>
    </div>
    <div class="masonry-grid">
        <LightboxImage
            id={12}
            imagePath="/src/assets/images/studio/brothers.jpg"
            altText="Brothers"
            position="top"
        />
        <LightboxImage
            id={1}
            imagePath="/src/assets/images/studio/bente1.jpg"
            altText="Bente"
        />
        <LightboxImage
            id={6}
            imagePath="/src/assets/images/studio/marc.jpg"
            altText="Marc"
        />
        <LightboxImage
            id={2}
            imagePath="/src/assets/images/studio/bente2.jpg"
            altText="Bente"
        />
        <LightboxImage
            id={3}
            imagePath="/src/assets/images/studio/krissy-dance-1.jpg"
            altText="Krissy"
        />
        <LightboxImage
            id={4}
            imagePath="/src/assets/images/studio/krissy-dance-2.jpg"
            altText="Krissy"
        />
        <LightboxImage
            id={5}
            imagePath="/src/assets/images/studio/krissy-zodiac-1.jpg"
            altText="Krissy"
        />
        <LightboxImage
            id={9}
            imagePath="/src/assets/images/studio/pt.jpg"
            altText="Remko"
        />
        <LightboxImage
            id={7}
            imagePath="/src/assets/images/studio/niki-fuji-1.jpg"
            altText="Niki"
        />
        <LightboxImage
            id={8}
            imagePath="/src/assets/images/studio/ooy-1_1960.jpg"
            altText="Ooy"
        />
        <LightboxImage
            id={10}
            imagePath="/src/assets/images/studio/thefool-sq.jpg"
            altText="The Fool"
        />
        <LightboxImage
            id={11}
            imagePath="/src/assets/images/studio/barb1.jpg"
            altText="Barbara"
        />
    </div>
</BaseLayout>
<style></style>
